<div id="<%= dom_id portfolio_manager %>">
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First name</label>
    <div class="col-sm-4">
      <input  class="form-control" type="text" readonly id="firstName" value="<%= portfolio_manager.first_name %>">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
    <div class="col-sm-4">
      <input  class="form-control" type="text" readonly id="lastName" value="<%= portfolio_manager.last_name %>">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-4">
      <input  class="form-control" type="text" readonly id="email" value="<%= portfolio_manager.email %>">
    </div>
  </div>
</div>
