<h1>Editing portfolio manager</h1>

<%= render "form", portfolio_manager: @portfolio_manager %>

<br>

<div>
  <%= link_to "Show this portfolio manager", @portfolio_manager %> |
  <%= link_to "Back to portfolio managers", portfolio_managers_path %>
</div>
