<h1>New portfolio manager</h1>

<%= render "form", portfolio_manager: @portfolio_manager %>

<br>
<div>
 <% if !params[:from_admin] %>
  <%= link_to "Back to portfolio managers", portfolio_managers_path %>
  <% end%>

  <% if params[:from_admin] %>
     <%= link_to "Back to administrators", administrators_path %>
  <% end%>
</div>

