<p style="color: green" data-attr="pm show"><%= notice %></p>
<div>  
  <% if isAdmin %>
    <%= render @portfolio_manager %>
    <%= link_to "Back to portfolio managers", portfolio_managers_path %>
  <%end%>
</div>
<%= render "traders/portfolio_managers_traders" %>
