<h2>Traders</h2>
<%= link_to "Add new", new_portfolio_manager_trader_path(@portfolio_manager),  class: "btn btn-primary" %>
<table class="mt-2 table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Balance</th>
      <th scope="col">Command</th>
    </tr>
  </thead>
  <tbody>
    <% @portfolio_manager.traders.each do |trader| %>
      <%= render trader %>
    <% end %>
  </tbody>
</table>
