<div class="container">
<h1>Trader#index</h1>
<p>Find me in app/views/trader/index.html.erb</p>

 <input type="symbol" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search symbol" value="AAPL">
<br/>
 <h2>AAPL</h2>
 <h3><%=@close%></h3>
 <table class="table">
  <%# <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead> %>
  <tbody>
   <tr>     
      <td>Current price</td>
      <td>1231.3123</td>
    <tr>
    <tr>     
      <td>MarkdividendYield</td>
      <td>1231.3123</td>
    <tr>
      <td>marketCap</td>
      <td>312321</td>
    </tr>
    <tr>     
      <td>blablalba</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
</div>


